<!DOCTYPE html>
<html>
<head>
  <title>Greendale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="logo-wrapper">
      <span id="logo"><!-- logoImage can potentially go here --></span>
      <span id="logo-text">Greendale</span>
    </div>
    <nav id="nav-main">
      <ul>
        <!-- nav links go here -->
      <ul>
    </nav>
  </header>
<%= yield %>
  <footer>
    <!-- contact details etc goes here -->
  </footer>
</body>
</html>
